div {
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: Impact;
}

button {
    width: 200px;
    height: 60px;
    background-color: blue;
    color: white;
}

p{
    font-size: 35px;
}

button:hover{
    background-color: rgb(7, 54, 73);
}